<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% include "@Blog/Index/footer.html.twig" %}
    </body>
</html>